# Dependencies
/frontend/node_modules/
/backend/node_modules/

# Environment
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
logs
*.log

# Build
/dist
/frontend/dist

# Volumes
/postgres_data/

# System files
.DS_Store