@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
  @apply text-teal-600 hover:bg-teal-100 px-1;
}

@media (min-width: 1024px) {
  body {
    @apply flex place-items-center;
  }
  #app {
    @apply grid grid-cols-2 px-8;
  }
}

.calendar-container {
  @apply bg-gray-100 p-8 rounded-lg shadow-lg;
}

.calendar-container .FullCalendar {
  @apply bg-white rounded-lg shadow-md;
  height: 90vh;
}